body{
    font-weight: 400;
    font-family: "Open sans", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
}

a{
    text-decoration: none;
    outline: none;
}

*{
    box-sizing: border-box;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner{
    border: none;
}

.custom-button{
    font-weight: 600;
    color: inherit;
    border: 0;
    border-radius: 3px;
    width: 130px;
    height: 25px;
    background-color: var(--hover-color);
    transition: background 0.2s linear;
}

.custom-button:hover{
    background-color: #2f9492;
    cursor: pointer;
}