@media screen and (max-width:480px){
    body #copyright, #info{
        font-size: 10px;
    }
}

#footer{
    width: 100%;
    min-width: 300px;
    font-weight: 100;
    height: 50px;
    position: fixed;
    bottom: 0;
    opacity: 0.9;
    background-color: #353535;
    z-index: 1002;
    text-align: center;
    font-size: 12px;
}

#copyright{
    padding-top: 6px;
}

#info{
    padding-top: 3px;
}