@media screen and (max-width: 1024px){
    body #header{
        font-size: 12px;
    }
}
@media screen and (max-width:768px){
    body #header{
        height: 65px;
        font-size: 9px;
    }
    body .simple{
        margin-right: 1px;
    }
    body .switcher_link{
        margin-right: 0;
    }
    body #dropdown{
        margin-right: -20px;
    }
    body #dropdown a{
        padding: 8px;
    }
    body #logo{
        margin-left: 5px;
        padding: 7px;
        font-size: 16px;
    }
}
@media screen and (max-width:480px){
    body #header{
        font-size: 8px;
        height: 80px;
    }
    body #navigation{
        height: 55px;
        width: 140px;
    }
    body .navigation_link{
        padding-bottom: 3px;
    }
    body .switcher_link{
        position: absolute;
        bottom: 5px;
        right: 40px;
    }
    body .simple{
        display: inline-block;
        margin-right: 20px;
    }
    body #dropdown{
        margin-top: 25px;
        margin-right: 10px;
    }
    body #dropdown a{
        padding: 7px;
    }
    body .simple:after{
        height: 1px;
    }
    body #logo{
        margin-bottom: 30px;
        margin-left: 10px;
        padding: 5px;
        font-size: 14px;
    }
}
body{
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    font-family: "Open sans", sans-serif;
    --hover-color: #58D3F7;
    color: #fff;
}

a{
    text-decoration: none;
    outline: none;
}

*{
    box-sizing: border-box;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner{
    border: none;
}

#header {
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    opacity: 0.9;
    background-color: #353535;
    z-index: 1002;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation{
    text-transform: uppercase;
}

.navigation_link{
    color: inherit;
    padding-bottom: 5px;
    transition: color 0.2s linear;
    position: relative;
}

.simple, .switcher_link{
    margin-right: 20px;
}

.navigation_link:hover{
    color: var(--hover-color);
}

.simple:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: var(--hover-color);
    position: absolute;
    top: 100%;
    left: 0;

    transition: opacity 0.2s linear;
}

.simple:hover:after{
    opacity: 1;
}

#switcher {
    margin-right: 15px;
    display: inline-block;
}

#dropdown {
    display: none;
    background-color:  #353535;
    position: absolute;
    top: 65%;
    right: 30px;
}

#dropdown a {
    padding: 10px;
    text-decoration: none;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
#switcher:hover #dropdown {
    display: block;
}

#logo{
    margin-left: 50px;
    border: 2px solid #14e17d;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(to right, #00ff84, #00f1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}