body{
    --hover-color: #58D3F7;
    color: #fff;
}

#header {
    font-weight: 600;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    opacity: 0.9;
    background-color: #353535;
    z-index: 1002;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation{
    text-transform: uppercase;
}

.navigation_link{
    color: inherit;
    padding-bottom: 5px;
    transition: color 0.2s linear;
    position: relative;
}

.simple{
    margin-right: 20px;
}

.navigation_link:hover{
    color: var(--hover-color);
}

.simple:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: var(--hover-color);
    position: absolute;
    top: 100%;
    left: 0;

    transition: opacity 0.2s linear;
}

.simple:hover:after{
    opacity: 1;
}

#logo{
    margin-left: 50px;
    border: 2px solid #14e17d;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(to right, #00ff84, #00f1ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
