@media screen and (max-width: 480px){
    body .select-style{
        width: 90%;
        margin-left: 15px;

    }
    body select{
        font-size: 12px;
        margin-top: 3px;
    }
}
@media screen and (max-width: 320px){
    body .select-style{
        width: 90%;
        margin-left: 10px;

    }
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.select-style {
    border: 0 solid black;
    margin-top: 5px;
    margin-left: 60px;
    width: 70%;
    border-radius: 3px;
    overflow: hidden;
    height: 30px;
    background: #fff url("../../icons/dropdown_icon.png") no-repeat 100% 50%;
}

.select-style select {
    padding-top: 4px;
    padding-left: 5px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}